@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: #3f3d56; 
}

.separator {
    margin: 0rem 5rem;
    position: relative;
    top: 1.5rem;
}

.pseparator{
    
        margin: 0rem 5rem;
        position: relative;
        top: -1.5rem;
}
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #0e0469a0; 
    border-radius: 5px; 
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.404); 
}

::-webkit-scrollbar-corner {
    background-color: rgba(76, 0, 130, 0.758); 
}
