.main-container {
    margin: 0;
    min-height: 90vh;
    color: white;
    padding: 0;
    background-color: #3f3d56; 
}
  
  .first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    min-height: 80vh;
  }
  
  .left-section {
    width: 40%;
    padding: 12px;
    padding-left: 16px;
    font-size: 1.25rem;
  }
  
  .highlighted-text {
    color: #8b5cf6; 
    font-size: 2.5rem;
  }
  
  .description {
    margin-top: 0.5rem;
  }
  
  .typed-text {
    color: #8b5cf6;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .tagline {
    font-size: 0.75rem;
    margin-top: 1rem;
    color: #dc2626; 
    text-align: center;
  }
  
  .smile-container {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  
  .download-container {
    display: flex;
    justify-content: center;
  }
  
  .download-button {
    background-color: #dc2626; 
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
  }
  
  .right-section {
    width: 40%;
  }
  
  .coder-image {
    width: 100%;
  }
  
  
  @media (max-width: 768px) {
    .first-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .left-section, .right-section {
      width: 100%;
    }
  
    .download-button {
      width: 100%;
    }
  }
  